<mat-toolbar color="primary">
  <span>خانه</span>
</mat-toolbar>

<div class="container py-4">

  <header class="mb-4 border-bottom">
    <h1 class="text-dark text-decoration-none">
      فرم ساز
    </h1>
  </header>

  <h4 class="mb-3">ساخت فرم</h4>
  <main class="p-5 mb-4 bg-light rounded-3">

    <app-form-builder (submit)="setConfig($event)"></app-form-builder>

    <div class="mt-5">
      <h4 class="mb-1 px-4">خروجی فرم</h4>
      <pre class="mb-0 p-2 d-flex rounded-3">
        <code class="p-2 d-table rounded-3 w-100" [highlight]="config | json"></code>
      </pre>
    </div>

  </main>

  <h4 class="mb-3">نمایش فرم</h4>
  <main class="p-5 mb-4 bg-light rounded-3">

    <app-dynamic-form [config]="config" (submit)="onSubmit($event)">
    </app-dynamic-form>

    <div class="mt-5">
      <h4 class="mb-1 px-4">خروجی فرم</h4>
      <pre class="mb-0 p-2 d-flex rounded-3">
        <code class="p-2 d-table rounded-3 w-100" [highlight]="result"></code>
      </pre>
    </div>

  </main>

</div>
